.entrada {
    font-size: 1rem;
  }

.entrada-verde {
    color: #388E3C;
    font-size: 1rem;
    font-weight: bold;
}

:target {
  animation: highlight 2s ease-out;
}

@keyframes highlight {
  from {
      background-color: #BBDEFB; /*En kit lighten 4 info*/
  }
  to {
      background-color: transparent;
  }
}

ul.ul-download {
  margin: 0;
  list-style: none;
}

ul.ul-download li{
  padding: 6px 0;

}
ul.ul-download li a{
 color: #0D47A1;
 text-decoration: none;
}

ul.ul-download li::before{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0px 2px -3px 0 ;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 776q-14 0-23-9L287 597q-9-9-9-22.5t9-22.5q9-9 22.5-9t22.5 9l124 124V296q0-14 9-23t23-9q14 0 23 9t9 23v373l124-124q9-9 22.5-9t22.5 9q9 9 9 22.5t-9 22.5L503 767q-9 9-23 9Zm-280 160q-14 0-23-9t-9-23q0-14 9-23t23-9h560q14 0 23 9t9 23q0 14-9 23t-23 9H200Z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) saturate(100%) invert(19%) sepia(98%) saturate(2101%) hue-rotate(208deg) brightness(82%) contrast(92%);
}


/*BORRAR ESTO*/



/*BORRAR ESTO*/



.input-group-text.money-box {
  background-color: rgba(var(--base-blue), 1);
  border: 1px solid rgba(var(--font-color), 1);
  border-radius: 0px;
  color: white;
  font-weight: 500;
}

a[aria-expanded="true"] .material-symbols-outlined {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.material-symbols-outlined {
  display: inline-block;
  transition: transform 0.3s ease;
}

.chips-main-2 {
  padding: 0.7rem 0.6rem;
  border-radius: var(--border-radius-chips);
  font-size: var(--font-size-small);
  font-weight: 700;
  width: fit-content;
}

.chips-main-2.primary-info-light-blue {
  background-color: rgba(var(--base-info-light-4),1);
  border:none;
  color: rgba(var(--base-info-dark-4),1);
}


/*CONTAINER ESPECIAL PARA GARANTIAS*/
.content-column {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espacio entre los dos white-containers */
  margin: 0 1rem;
}

.white-container-2 {
  border: 1px solid rgba(var(--grey-20), 1);
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin: 0; /* importante para que no desordene el layout */
}

.no-bg-container {
  background-color: transparent;
  border: none;
  padding: 1.4rem 0;
}
/*CONTAINER ESPECIAL PARA GARANTIAS*/